<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartNest">

        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".activities.MyHomesActivity"
            android:exported="false" />

        <activity
            android:name=".activities.FloorListActivity"
            android:exported="false" />

        <activity
            android:name=".activities.RoomListActivity"
            android:exported="false" />

        <activity
            android:name=".activities.DeviceListActivity"
            android:exported="false" />

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartNest"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddDeviceActivity" android:exported="false" />
        <activity android:name=".activities.AddRoomActivity" android:exported="false" />
        <activity android:name=".activities.AddFloorActivity" android:exported="false" />
        <activity android:name=".activities.AddHomeActivity" android:exported="false" />
        <activity android:name=".activities.DeviceControlActivity" android:exported="false" />
        <activity android:name=".activities.ScheduleActivity" android:exported="false" />
        <activity android:name=".activities.SplashActivity" android:exported="false" />
        <activity android:name=".activities.OutletControlActivity" android:exported="false" />
        <activity android:name=".activities.MultiSwitchControlActivity" android:exported="false" />
        <activity android:name=".activities.HazardApplianceControlActivity" android:exported="false" />
        <activity android:name=".activities.CameraControlActivity" android:exported="false" />
        <activity android:name=".activities.LiveViewActivity" android:exported="false" />
        <activity android:name=".activities.FloorPlanActivity" android:exported="false" />
    </application>

</manifest>